* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  margin: 10px;
  color: #003399;
}

form {
  display: flex;
  align-items: center;
}

div.form-group,
p {
  margin: 10px 20px 10px 10px;
}

label {
  display: inline-block;
  margin-bottom: 10px;
}

select {
  background-color: #66ccff;
  color: black;
  border: 1px solid #003399;
  padding: 5px 10px;
  font-size: 1rem;
}

select option {
  padding: 0 10px;
}
